body {
    font-family: sans-serif;
}

/* GENERAL HELPER */
.unstyled-link {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div.nav li {
    float: left;
}

div.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.nav li a:hover:not(.active) {
    background-color: #111;
}

div.nav .active {
    background-color: #0095ff;
}

.title h1 {
    margin: auto;
}

.title {
    padding: 60px;
    text-align: center;
    background: #0095ff;
    color: white;
    font-size: 25px;
}

.footer-title {
    text-align: center;
}

.footer-title::before {
    content: "";
    display: block;
    border-top: 2px solid #000;
    margin: 10px 0;
}

.title::after {
    content: "";
    display: block;
    border-top: 2px solid #000;
    margin: 10px 0;
}

.post p {
    width: 50vw;
}
