body {
    font-family: sans-serif;
}

.title h1 {
    margin: auto;
}

.title {
    padding: 60px;
    text-align: center;
    background: #0095ff;
    color: white;
    font-size: 25px;
}

.footer-title {
    text-align: center;
}

.footer-title::before {
    content: "";
    display: block;
    border-top: 2px solid #000;
    margin: 10px 0;
}

.title::after {
    content: "";
    display: block;
    border-top: 2px solid #000;
    margin: 10px 0;
}

.post p {
    width: 50vw;
}
