body {
    font-family: sans-serif;
}

div.post:not(:last-of-type):after {
    content: "";
    display: block;
    border-top: 2px solid #000;
    margin: 10px 0;
}

/* GENERAL HELPER */
.unstyled-link {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: #0095ff;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 4px;
}

.button-delete {
    background-color: red;
}

/* HEADER */
/* NAVIGATION */
div.nav ul {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div.nav li {
    float: left;
}

div.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.nav li a:hover:not(.active) {
    background-color: #111;
}

div.nav .active {
    background-color: #0095ff;
}
/* TITLE */
.title h1 {
    margin: auto;
}

div.title p {
    margin: 0;
}

.title {
    padding: 60px;
    text-align: center;
    background: #0095ff;
    color: white;
    font-size: 25px;
}
/* FOOTER */
.footer-title {
    text-align: center;
}

.footer-title::before {
    content: "";
    display: block;
    border-top: 2px solid #000;
    margin: 10px 0;
}

.post p {
    width: 50vw;
}
